@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="jumbotron p-2 text-center">
    <h1 class="display-4"><img src="~/image/nfl/nfl.png" asp-append-version="true">National Football League</h1>
</div>
